Repository uon-drs/ROCrates.Net, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Library, Area: Docs

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Library":
  - ROCrates.Net/**/*
"Area: Docs":
  - docs/**/*

add some metadata
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

on push to `main` publish to Nuget
  .github/workflows/release.ROCrates.Net.yml
Labels: Area: CI

missing steps in release
  .github/workflows/release.ROCrates.Net.yml
Labels: Area: CI

version bump the code for bugfix branches
  .github/workflows/tag.bugfix.yml
Labels: Area: CI

rename file
  .github/workflows/version.bugfix.yml
Labels: Area: CI

feature version bump
  .github/workflows/version.feature.yml
Labels: Area: CI

init docs
  ROCrates.Net/ROCrates.Net.csproj
  docs/.gitignore
  docs/api/.gitignore
  docs/api/index.md
  docs/articles/intro.md
  docs/articles/toc.yml
  docs/docfx.json
  docs/index.md
  docs/toc.yml
Labels: Area: Library, Area: Docs

homepage
  docs/.gitignore
  docs/index.md
Labels: Area: Docs

installation.md
  docs/articles/installation.md
  docs/articles/intro.md
  docs/articles/toc.yml
  docs/docfx.json
  docs/toc.yml
Labels: Area: Docs

init tutorials
  .gitignore
  docs/articles/toc.yml
  docs/articles/tutorials/index.md
  docs/articles/tutorials/toc.yml
  docs/index.md
Labels: Area: Docs

add initialsing and converting tutorials
  docs/articles/tutorials/converting.md
  docs/articles/tutorials/initialising.md
Labels: Area: Docs

workflow to publish docs
  .github/workflows/publish.docs.yml
Labels: Area: CI

update docstring in ROCrate.cs
  ROCrates.Net/ROCrate.cs
Labels: Area: Library

more docstrings in ROCrate.cs
  ROCrates.Net/ROCrate.cs
Labels: Area: Library

correct spelling
  docs/articles/tutorials/converting.md
  docs/articles/tutorials/initialising.md
Labels: Area: Docs

global metadata
  docs/docfx.json
Labels: Area: Docs

tidy up some links
  docs/api/index.md
  docs/articles/toc.yml
  docs/index.md
  docs/toc.yml
Labels: Area: Docs

Generate docs (#3)
  .github/workflows/publish.docs.yml
  .gitignore
  ROCrates.Net/ROCrate.cs
  ROCrates.Net/ROCrates.Net.csproj
  docs/.gitignore
  docs/api/.gitignore
  docs/articles/installation.md
  docs/articles/toc.yml
  docs/articles/tutorials/converting.md
  docs/articles/tutorials/index.md
  docs/articles/tutorials/initialising.md
  docs/articles/tutorials/toc.yml
  docs/docfx.json
  docs/index.md
  docs/toc.yml
Labels: Area: CI, Area: Library, Area: Docs

correct spelling
  docs/toc.yml
Labels: Area: Docs

bade for nuget version
  README.md
  docs/index.md
Labels: Area: Docs

gh-pages url
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

manual trigger for releases
  .github/workflows/release.ROCrates.Net.yml
Labels: Area: CI

remove defunct workflows
  .github/workflows/version.bugfix.yml
  .github/workflows/version.feature.yml
Labels: Area: CI

separate workflows for version and release
  .github/workflows/release.ROCrates.Net.yml
  .github/workflows/version.ROCrates.Net.yml
Labels: Area: CI

Prep for first release (#2)
  .github/workflows/release.ROCrates.Net.yml
  .github/workflows/version.ROCrates.Net.yml
  README.md
  ROCrates.Net/ROCrates.Net.csproj
  docs/index.md
  docs/toc.yml
Labels: Area: CI, Area: Library, Area: Docs

deploy: 861b73040161284d63da6d91f6bd1bd74c2faaff
  index.html
  toc.html
  toc.json
Labels: none

add regex for version
  .github/workflows/release.ROCrates.Net.yml
Labels: Area: CI

readme path
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

move readme
  ROCrates.Net/README.md
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

sort out reference to readme and license
  README.md
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

test by increasing version
  .github/workflows/release.ROCrates.Net.yml
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: CI, Area: Library

workflow uses custom pack and publish
  .github/workflows/release.ROCrates.Net.yml
Labels: Area: CI

version bump again
  ROCrates.Net/ROCrates.Net.csproj
Labels: Area: Library

nuget link in installation
  docs/articles/installation.md
Labels: Area: Docs

Bugfix/broken publish workflow (#4)
  .github/workflows/release.ROCrates.Net.yml
  ROCrates.Net/ROCrates.Net.csproj
  docs/articles/installation.md
Labels: Area: CI, Area: Library, Area: Docs

deploy: ab1cb36a26847dd9ae38cdc6e14bcaec38b9938d
  articles/installation.html
Labels: none

test for updating
  ROCrates.Net.Tests/TestRoCrate.cs
Labels: none

code for updating
  ROCrates.Net/ROCrate.cs
Labels: Area: Library

Make Entity.GetCanonicalId and ROCrate.ResolveId obsolete
  ROCrates.Net/Models/Entity.cs
  ROCrates.Net/ROCrate.cs
Labels: Area: Library

fix tests
  ROCrates.Net.Tests/TestRoCrate.cs
Labels: none
